@{
    ViewBag.Title = "Página principal";
}

<div class="jumbotron">
    <h1>Hosp Web 42.NET</h1>
    <p class="lead">Hospede!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Cliente</h2>
		<p>
			Um cliente pode ter várias hospedagens ou nenhuma. Para mais informações clique em
		</p>
		<p><a class="btn btn-default" href="https://algumaexplicaoparaquemtiveracesso">Saiba mais &raquo;</a></p>
	</div>

	<div class="col-md-4">
		<h2>Hospedagem</h2>
		<p>Saiba mais a respeito da hospedagem. Uma hospedagem pode pertencer somente a um cliente.</p>
		<p><a class="btn btn-default" href="https://outraexplicacaoparaquemtiveracesso">Saiba mais &raquo;</a></p>
	</div>

</div>